/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
/* TODO : rimuovere */

/* ---------------- */
.container-big {
    max-width: 1300px;
    margin: 0 auto;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.w-20  {
    width: 20%;
}

.w-40 {
    width: 30%;
}

.w-50 {
    width: 50%;
    
}

.w-60 {
    width: 70%;
}

.p-20 {
    padding-top: 20px;
}
.p-40 {
    padding-top: 40px;
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.btn {
    color: white;
}
.bg-lightblue {
    background-color: #B4D0E7;
}

.btn-blue {
    background-color: #0061FF;
}

.btn-blue:hover {
    background-color: #3e87fc;
}

.btn-white {
    color: black;
    background-color: white;
}

.btn-tight {
    padding: 5px 15px;
}

.btn-large {
    padding: 10px 25px;
}

body hr {
    border: 1px solid #DCDCDE;
    width: 100%;
}

footer hr {
    border: 1px solid white;
    width: 20%;
}
/* Header */

/* ---logo--- */
#logo {
    vertical-align: text-bottom;
    padding-left: 20px;
}
.top-bar {
    height: 80px;
    line-height: 80px;
    font-weight: 500;
}

.top-bar .top-menu ul, a {
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li, .top-menu {
    display: inline-block;
    padding: 0 20px;
}

/* ---jumbotron--- */
#jumbotron {
    height: 700px;
    background-color: #B4D0E7;
}
#jumbotron .content h1 {
    font-size: 70px;
    padding: 20px 0;
}

#jumbo {
    width: 100%;
    margin-left: 100px;
}

.fa-arrow-down {
    font-size: 38px;
}
/* Main */


/* Section */
/* 
icon circle: <i class="far fa-circle"></i>
icon user: <i class="far fa-user"></i>
icon user+ : <i class="fas fa-user-plus"></i>
icon building: <i class="far fa-building"></i>
icon folder: <i class="far fa-folder"></i>
icon smile: <i class="far fa-smile"></i>
icon pen: <i class="fas fa-pencil-alt"></i>
icon checked: <i class="fas fa-check"></i>
icon faq arrow: <i class="fas fa-chevron-down"></i>
*/


/* Footer */
footer {
    height: 400px;
    background-color: black;
    color: white;
}