/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.container-big {
    max-width: 1400px;
    margin: 0 auto;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-count {
    width: calc((100% / 3) - 40px);
    margin:0 20px ;
    border: 1px solid #D0D0D3;

}
.no-border-bottom {
    border-bottom: hidden;
}

.w-20  {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.p-20 {
    padding-top: 20px;
}

.p-40 {
    padding-top: 40px;
}

.p-100 {
    padding-top: 250px;
}

.m-10 {
    margin: 10px 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-grey {
    font-weight: 600;
    font-size: 16px;
    color: #637381;
}
.btn {
    color: white;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.btn-blue {
    background-color: #0061FF;
}

.btn-blue:hover {
    background-color: #3e87fc;
}

.btn-white {
    color: black;
    background-color: white;
}

.btn-tight {
    padding: 5px 15px;
}

.btn-large {
    padding: 10px 25px;
}

p {
    font-weight: 500;
}

body hr {
    border: 0.5px solid #DCDCDE;
    width: 50px;
    margin-bottom: 30px;
}

footer hr {
    border: 1px solid white;
    width: 20%;
}

/* Header */
/* ---logo--- */
#logo {
    vertical-align: text-bottom;
    padding-left: 20px;
}
.top-bar {
    height: 80px;
    line-height: 80px;
    font-weight: 500;
}

.top-bar .top-menu ul, a {
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

li, .top-menu {
    display: inline-block;
    padding: 0 20px;
}

/* ---jumbotron--- */
#jumbotron {
    height: 700px;
    background-color: #B4D0E7;
}
#jumbotron .content h1 {
    font-size: 78px;
    padding: 20px 0;
}

#jumbo {
    width: 900px;
    margin-left: 50px;
}

.fa-arrow-down {
    font-size: 40px;
    font-weight: bold;
}

/* Main */
 .full-page .container-small h2 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 60px;
    margin-left: 20px;
 }

 .full-page {
    padding-left: 20px;
 }

 .full-page span:nth-child(2) {
    padding: 20px;
 }

  .circle-blue {
    text-shadow: -1px 0 #0061FF, 0 1px #0061FF, 1px 0 #0061FF, 0 -1px #0061FF;
    color: #0061FF;
 }

 .plan, .professional-plan, 
 .standard-plan, .advanced-plan {
    margin-bottom: 30px;
    font-weight: 600;
 }

 .plan {
     font-size: 18px;
 }

 .full-page .container-small h3 {
     font-size: 18px;
     font-weight: normal;
 }

 .full-page .container-small h4 {
    font-size: 18px;
    font-weight: 800;
}

 .full-page .container-small .btn-blue {
    padding: 10px 42px;
 }

.full-page .col-count {
    padding: 15px 28px;
    line-height: 40px;
}
.info {
    padding: 30px 0;
}

.tobuy {
    line-height: 80px;
}

.tobuy a {
    color: #0061FF;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 600;
}
.tobuy .btn:hover {
    background-color: #3e87fc;
}

.price {
    font-weight: bolder;
}
.advantages p {
    margin-bottom:20px;
    font-weight: 600;
}
.fa-check {
    color: #0061FF;
}
.moved {
    padding-left: 20px;
}

/* icon faq arrow: <i class="fas fa-chevron-down"></i> */
/* Footer */
footer {
    height: 400px;
    background-color: black;
    color: white;
}